.about_body {
  color: var(--white-color);
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: 1px;
}
.about_container {
  margin: 7px 0px;
}
.about_label {
  font-weight: 600;
  color: var(--gold-color);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
}
.about_full {
  width: 100%;
}
.about_title__container {
  width: 50%;
  margin-top: 24px;
  opacity: 1;
}
.about_title {
  display: flex;
  font-size: 36px;
  color: var(--gold-color);
  font-weight: 600;
  align-items: center;
  transition: .3s ease-out;
}
.about_title:after,
.about_title:before {
  content: '';
  background: var(--gold-color);
  height: 3px;
  margin: 6px;
}
.about_title--transition {
  opacity: 0;
}
.about_title:before {
  flex-basis: 33.33333333333%;
}
.about_title:after {
  flex: 1;
}
@media screen and (max-width: 992px) {
  .about_title__container {
    width: 100%;
  }
  .about_title {
    padding: 0px 14px;
  }
  .about_title:before {
    flex: 1;
  }
}