.main_background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.mobile_background {
  display: none;
}
@media screen and (max-width: 992px) {
  .mobile_background {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--black-color);
    opacity: 0;
    transition: .4s ease-out;
  }
  .mobile_background--display {
    opacity: 1;
  }
}