/*======================================
=         CONTACT CONTAINER            =
======================================*/
.contact_wrapper {
  opacity: 1;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 75px);
  position: fixed;
  margin-top: 75px;
  color: var(--gold-color);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
.contact_wrapper--transition{
  opacity: 0;
}
.contact_container {
  padding: 24px 0px;
}
.links_offset {
  margin: 36px 0px;
}
.contact_form_container {
  width: 83.3333333333%;
  margin-left: 16.6666666666%;
}

/*======================================
=           CONTACT TITLE              =
======================================*/
.contact_title__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 700;
  color: var(--gold-color);
  font-size: 36px;
  margin-bottom: 24px;
}
.contact_title__wrapper:after,
.contact_title__wrapper:before {
  content: '';
  background: var(--gold-color);
  height: 3px;
  margin: 6px;
}
.contact_title__wrapper:before {
  flex-basis: 16.666666666666%;
}
.contact_title__wrapper:after {
  flex: 1;
}

.contact_email {
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  .contact_form_container {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
  .contact_form_container form {
    padding: 0px 14px;
  }
  .contact_title__wrapper {
    text-align: center;
  }
  .contact_title__wrapper:after,
  .contact_title__wrapper:before {
    flex: 1;
  }
  .contact_email {
    font-size: 16px;
  }
}

/*======================================
=           CONTACT FORM              =
======================================*/
.contact_label {
  font-size: 24px;
}
.contact_input {
  color: var(--gold-color);
  background-color: transparent;
  border-style: none;
  border: 2px solid var(--gold-color);
  margin-bottom: 14px;
  font-size: 24px;
  width: 16.6666666666vw;
  padding: 4px;
}
.contact_textarea {
  color: var(--gold-color);
  background-color: transparent;
  border-style: none;
  border: 2px solid var(--gold-color);
  margin-bottom: 14px;
  font-size: 24px;
  width: 33.333333333vw;
  padding: 4px;
  font-family: 'Lato', Helvetica, sans-serif;
}
.contact_input:focus,
.contact_textarea:focus {
  outline: none;
}
.contact_button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 0 6px;
  background: transparent;
  white-space: nowrap;
  font-weight: 500;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  font-size: 24px;
  border: 2px solid var(--gold-color);
  width: 16.666666666666vw;
  color: var(--gold-color);
}
.form_error {
  font-size: 14px;
  color: #ff0000;
  margin: 0px 7px;
}

@media screen and (max-width: 992px) {
  .contact_input {
    width: 50%;
  }
  .contact_textarea {
    width: 100%;
  }
  .contact_button {
    width: 50%;
  }
}