
/*======================================
=           LINKS CONTAINER            =
======================================*/
.links_wrapper {
  opacity: 1;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 75px);
  position: fixed;
  margin-top: 75px;
  color: var(--gold-color);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
.links_wrapper--transition{
  opacity: 0;
}
.links_container {
  padding: 24px 0px;
}
.links_offset {
  margin: 36px 0px;
}
.links_link__container .links_offset:nth-child(odd) {
  width: 83.3333333333%;
  margin-left: 16.6666666666%;
}
.links_link__container .links_offset:nth-child(even) {
  width: 66.6666666666%;
  margin-left: 33.3333333333%;
}

/*======================================
=             LINKS TITLE              =
======================================*/
.links_title__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 700;
  color: var(--gold-color);
  font-size: 36px;
  margin-bottom: 24px;
}
.links_title__wrapper:after,
.links_title__wrapper:before {
  content: '';
  background: var(--gold-color);
  height: 1px;
  margin: 6px;
}
.links_title__wrapper:before {
  flex-basis: 16.666666666666%;
}
.links_title__wrapper:after {
  flex: 1;
}

/*======================================
=              LINKS LINK              =
======================================*/
.links_link {
  color: var(--gold-color);
  position: relative;
  text-decoration: none;
}
.links_link:hover,
.links_link:focus,
.links_link:active,
.links_link:focus:active {
  color: var(--gold-color);
  text-decoration: none;
}
.links_link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--gold-color);
  transition: 0.4s;
}
.links_link:hover:after {
  width: 100%;
}


@media screen and (max-width: 992px) {
  .links_link__container .links_offset:nth-child(odd),
  .links_link__container .links_offset:nth-child(even) {
    width: 100%;
    margin-left: 0px;
    padding: 0px 14px;
  }
}