/*======================================
=              MENU PANEL              =
======================================*/
.menu {
  width: 260px;
  height: 100%;
  background-color: var(--grey-dark-color);
  position: fixed;
  padding-top: 75px;
  top: 0px;
  font-size: 16px;
  font-family: 'Lato', Helvetica;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  z-index: 12;
  left: -260px;
}
.menu--displayed {
  transform: translateX(260px);
}

/*======================================
=              MENU LINKS              =
======================================*/
.menu_select{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.menu_link {
  color: var(--white-color);
  text-decoration: none;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.menu_link:hover,
.menu_link:active,
.menu_link:focus {
  text-decoration: none;
  color: var(--gold-color);
}
.menu_select--selected {
  color: var(--gold-color);
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  cursor: default;
}
.menu_indicator{
  top: 12px;
  position: absolute;
  width: 100%;
  border-right: 8px solid var(--gold-color);
  border-left: 8px solid var(--gold-color);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: none;
  box-sizing: border-box;
}
.menu_select--selected .menu_indicator{
  display: block;
}
.menu_outlink{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  background-color: var(--gold-color);
  color: #000;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.menu_outlink:hover {
  color :var(--white-color);
}
.menu_outlink__image{
  height: 10px;
  margin-bottom: 4px;
}
.menu_social_icon{

  margin: 10px;
  font-size: 28px;
  fill: var(--white-color);
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.menu_social_icon:hover {
  fill: var(--gold-color);
}
.menu_email {
  font-family: 'Lato', Helvetica;
  color: var(--gold-color);
}

/*======================================
=              MENU BUTTON             =
======================================*/
.menu_button {
  position: fixed;
  z-index:  100;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 75px;
  cursor: pointer;
  background-color:  var(--gold-color);
  -webkit-transition:  .3s ease-out;
  -moz-transition:  .3s ease-out;
  -o-transition:  .3s ease-out;
  transition: .3s ease-out;
}
.menu_button--displayed {
  width: 260px;
}
.menu_button__line {
  height: 3px;
  width: 32px;
  position: absolute;
  background-color: var(--black-color);
  left: 35px;
  z-index: 11;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition:.3s ease-out;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
.menu_button__line:nth-child(1) {
  top: 29px;
}
.menu_button__line:nth-child(2) {
  top: 38px;
}
.menu_button__line:nth-child(3) {
  top: 47px;
}
.menu_button--displayed .menu_button__line:nth-child(1) {
  left: 116px;
  top: 34px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu_button--displayed .menu_button__line:nth-child(2) {
  left: 116px;
  top: 34px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_button--displayed .menu_button__line:nth-child(3) {
  width: 0px;
  left: 116px;
}
.menu_button:hover .menu_button__line {
  background-color: var(--white-color);
}

/*======================================
=              MENU BAR             =
======================================*/
.menu_bar {
  width: 100vw;
  height: 75px;
  background-color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.59em;
  z-index: 10;
  position: fixed;
  top: 0px;
  cursor: default;
  -webkit-box-shadow:  0px 10px 50px 10px rgba(0,0,0,0.5);
  -moz-box-shadow:  0px 10px 50px 10px rgba(0,0,0,0.5);
  box-shadow:  0px 10px 50px 10px rgba(0,0,0,0.5);
}
.menu_bar__link {
  line-height: 75px;
  color: var(--gold-color);
  text-decoration: none;
  transition:.2s ease-out;
}

.menu_bar__link:hover {
  color: #574b2c;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .menu_bar {
    width: 100vw;
    height: 75px;
    background-color: #000;
    text-align: center;
    font-family: 'Lato', Helvetica;
    font-size: 14px;
    letter-spacing: 1vw;
    z-index: 10;
    position: fixed;
    left: 50px;
    top: 0px;
    cursor: default;
    box-shadow:  none;
  }
}
